include LICENSE
include README.md

recursive-include wagtailcookieconsent/assets/*
recursive-include wagtailcookieconsent/static/*
recursive-include wagtailcookieconsent/fixtures/*
recursive-include wagtailcookieconsent/templates/*