include LICENSE
include README.md

include wagtailcookieconsent/assets/scss/*
include wagtailcookieconsent/fixtures/*
include wagtailcookieconsent/static/*
include wagtailcookieconsent/templates/wagtailcookieconsent/*
include wagtailcookieconsent/templates/wagtailcookieconsent/forms/*

recursive-include wagtailcookieconsent/static/*
recursive-include wagtailcookieconsent/templates/*